@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(185, 184, 184);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
